html{font-size:72.5%;}
body, td, th, b, input {font-family:Verdana;color:#000;}

h1{font-size:1.3em;}
h2{font-size:1.2em;}
h3{font-size:1.1em;}
h4{font-size:1.0em;}

body{margin:0px;padding:0px;}
input{font-size:.9em;}
.errorMessage {color:red;text-align:center;font-weight:bold;}
form{display:inline;}


#form1 {width:75em;margin:0em auto;}
#form1 h1, #form1 h2{font-weight:normal;padding:0px;margin:2px;}
#form1 table h4{display:inline;}
#form1 table th{text-align:right;white-space:nowrap;vertical-align:bottom;padding-bottom:.3em;font-weight:normal;}
#form1 table td{text-align:left;vertical-align:bottom;}
#form1 table.fees{width:75em;border-collapse:collapse;border:.1em solid #000;}
#form1 table.fees td{padding:0.2em .3em 0.2em .3em;white-space:nowrap;vertical-align:top;}
#form1 table.fees .border_left{border-left:.1em solid #000;}
#form1 table.fees .border_bottom{border-bottom:.1em solid #000;}
#form1 table.fees .border_top{border-top:.1em solid #000;}

#form1 div.student_fee{border:.2em solid black;margin:1em 0em;}
#form1 div.student_fee .studentHead{font-weight:bold;padding:.5em 0em;text-align:left;}
#form1 div.student_fee table td{vertical-align:bottom;}
#form1 div.student_fee table table{border-collapse:collapse;}
#form1 div.student_fee table table td{padding:0em;}

#form1 select{}/*width:10.9em;*/
#form1 select option{}
#form1 .left{display:-moz-inline-box;display:-moz-inline-block;display:inline-block;vertical-align:text-bottom;text-align:left;}
#form1 .right{display:block;vertical-align:text-bottom;text-align:right;}
#form1 .col1{width:15em;text-align:right;}
#form1 .left .text{//position:relative;//top:-.25em;}
#form1 .label{padding-bottom:.25em;}
#form1 .disabled{background:#fff;color:black;}
#form1 .w50{width:9em;}

.state{position:relative;}
.state .left{display:block;float:none;}
.state .label{position:absolute;left:0px;bottom:0px;}
.state .sel{padding-left:15.31em;}

#form2 {width:70%;margin:0em auto;}
#form2 h1, #form2 h2{font-weight:normal;padding:0px;margin:2px;}
#form2 table h4{display:inline;}
#form2 table th{text-align:right;white-space:nowrap;vertical-align:bottom;}
#form2 table td{text-align:left;vertical-align:bottom;}
#form2 .auditioning{border:.2em solid #000;margin:.5em;padding:.5em;text-align:left;}
#form2 .important{border:.3em solid #000;margin:1.5em;padding:1.5em;text-align:center;font-size:1.6em;font-weight:bold;}

#form2 ul{clear:both;padding-bottom:.5em}
#form2 li{padding-top:.1em;padding-bottom:.1em}
#form2 li.clear{clear:both;display:block;padding:0px;margin:0px;}
#form2 .number li{list-style:decimal;}
#form2 .alpha li{list-style:lower-latin;}
#form2 .alphaupper li{list-style:upper-latin;}
#form2 .none li{list-style:none;}
#form2 .left50p {float:left;width:48%;}
#form2 .left50p1 {white-space: nowrap;}
#form2 .inside{margin:0px;padding:0px;}
#form2 .inside li{list-style-position:inside;margin:0px;padding:0px;}

table .center{text-align:center !important;}

.inline_block{float:left;}
.inline_block input{}
.errorMessage {color:red;text-align:center;font-weight:bold;}
.field_error{color:red;font-size:0.8em;display:block;}
.hidden{display:none;}

.errorMessage{
	display: none;
}

input[disabled="disabled"]{
	cursor: not-allowed;
}